html.page-home {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/images/bg.jpg');
    background-color: transparent;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background: linear-gradient( #1abc9c, transparent), linear-gradient( 90deg, skyblue, transparent), linear-gradient( -90deg, coral, transparent);*/
    /*background-blend-mode: screen;*/
    /*background: linear-gradient(to left, #5f2c82, #49a09d);*/
}

.content-home .nav .item a{color:#eee;}
.content-home .name{color:#eee;}
.content-home .slogan{color:#999;}

.content.content-link .link-list .link-item a .avatar {float: left;margin-right: 7px;}
.content.content-link .link-list .link-item a .wrap-info {width: 467px;}

.donation .donation-body ul{margin: 0px;}